/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
  height: fit-content;
}

.print-area {
  background-color: #ffffff;
  width: 21cm;
  min-height: 29.7cm;
  font-size: 12pt;
  display: none;
}

.page {
  display: block;
  width: 21cm;
  min-height: 29.7cm;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  box-shadow: 0;
  /* page-break-after: always; */
}

#page-one {
  background-color: rgb(206, 135, 208);
  top: 0;
  left: 0;
}
#page-two {
  background-color: rgb(78, 73, 212);
}
#page-three {
  background-color: rgb(232, 227, 151);
}
#page-four {
  background-color: rgb(118, 196, 124);
}

@media print {
  html,
  body {
    margin: 0;
    box-shadow: 0;
    padding: 0;
    font-size: 0;
  }
}

@page {
  size: A4;
  margin: 0 !important;
}
